################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/UlystaTest/bin/Debug
/UlystaTest/obj/Debug
